---
---

<section class="">
    <div>
        <nav class="fixed top-0 left-0 right-0 bg-zinc-900 p-4">
            <div class="max-w-7xl mx-auto flex justify-between items-center">
              <div>
                <a href="/" class="text-white text-2xl font-bold">
                  cads
                </a>
              </div>
        
              <div class="flex items-center space-x-1">
                <div class="bg-zinc-800 rounded-full px-4 py-2 flex space-x-4">
                  <a href="/" class="text-white hover:text-gray-300">
                    Home
                  </a>
                  <a href="/" class="text-white hover:text-gray-300">
                    About me
                  </a>
                  <a href="/" class="text-white hover:text-gray-300">
                    Contact
                  </a>
                </div>
              </div>
        
              {/* Right side buttons */}
              <div class="flex items-center space-x-4">
                <button class="text-white hover:text-gray-300">
                  ES
                </button>
                <button class="text-white hover:text-gray-300">
                  Light
                </button>
              </div>
            </div>
          </nav>
    </div>
</section>