<section>
    <div>
        <div class="w-1/3 mt-10 ml-5">
            <h1 class="text-3xl font-semibold mb-0">
                Hi! i'm César Alexander 
            </h1>
            <p class="tracking-widest">
                i'm a software developer
            </p>
            <p class="mt-10 font-light">
                specializing in technologies like C#, .NET, Angular,
                committed to continuous learning, with certifications in advanced web development 
                and basic data science
            </p>
            <div class="flex mt-10 justify-between items-center ">
                <a class="">
                    Contact: <a href="mailto:" class="text-blue-500">
                </a>
                <a class="inline-flex items-center justify-center rounded-full bg-zinc-800 px-2 py-1 gap-2 transition hover:bg-zinc-300 hover:text-zinc-800">
                    <svg class="size-8" xmlns="http://www.w3.org/2000/svg"  width="28" height="28" viewBox="0 -2 22 28" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0 0 24 12c0-6.63-5.37-12-12-12z" fill="currentColor"/>
                    </svg>
                    Github
                </a>
                <a class="inline-flex items-center justify-center rounded-full bg-zinc-800 px-2 py-1 gap-2 transition hover:bg-zinc-300 hover:text-zinc-800">
                    <svg class="size-8" xmlns="http://www.w3.org/2000/svg"  width="28" height="28" viewBox="0 -2 22 28" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                        <path d="M8 11l0 5"></path>
                        <path d="M8 8l0 .01"></path>
                        <path d="M12 16l0 -5"></path>
                        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>	
                    </svg>					
                    Linkedin
                </a>
                <a class="inline-flex items-center justify-center rounded-full bg-zinc-800 px-2 py-1 gap-2 transition hover:bg-zinc-300 hover:text-zinc-800">
                    <svg class="size-8" xmlns="http://www.w3.org/2000/svg"  width="28" height="28" viewBox="0 -2 22 28" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"></path>
                        <path d="M3 6l9 6l9 -6"></path>
                        <path d="M15 18h6"></path>
                        <path d="M18 15l3 3l-3 3"></path>
                    </svg>
                    Mail me
                </a>
            </div>
        </div>
    </div>
</section>