---
import { Image } from 'astro:assets';
import profilePhoto from '/public/photo.webp';
---

<section class="py-16 section md:py-36 scroll-m-20 w-5/6 mx-auto container lg:max-w-6xl md:max-w-2xl" id="home">
    <div class="flex flex-col md:flex-row items-center md:justify-between">
        <div class="">
            
            <Image src={profilePhoto}
            height={160}
            class="mb-10 mt-10 md:mt-0 rounded-full md:mx-0"
            alt="César Alexander's profile photo"
            loading="eager" />
            
            <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white " id="contact">
                Hi! I'm César Alexander 
            </h1>
            <p class="tracking-[0.06em] text-xl text-zinc-200">
                A computer science student, focused on web development and data engineering.
            </p>
            <div class="md:w-full mt-6 text-xl text-zinc-200">
                <p class=" [&>strong]:text-indigo-400">
                    I am a <strong>Computer Science</strong> student at <span class="text-orange-500 font-bold">UANL</span>, with a strong interest in web development and data engineering.
                </p>
                <p class="">
                    Currently doing an internship as a Data Engineer @ <span class="text-orange-500 font-bold">DEACERO</span>.
                </p>
            </div>
            <div class="inline-flex mt-10 space-x-6 justify-items-start items-center font-light " >
                <span class="text-xl text-zinc-200 font-" > Contact: </span>
                <a class=" px-2 py-1 transition" href="https://github.com/cesaralexanderds/" target="_blank" rel="noopener noreferrer">
                    <img src="/github-mark-white.svg" class="h-7 hover:scale-[1.15] transition">
                </a>
                <a class="px-2 py-1 transition hover:scale-[1.15] " href="https://www.linkedin.com/in/c-a-d-s/" target="_blank" rel="noopener noreferrer">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
                        <path d="M8 11l0 5"></path>
                        <path d="M8 8l0 .01"></path>
                        <path d="M12 16l0 -5"></path>
                        <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>	
                    </svg>					
                </a>
                <a class=" px-2 py-1 transition hover:scale-[1.15]" href="mailto:cesaralexanderds@gmail.com" target="_blank">
                    <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5"></path>
                        <path d="M3 6l9 6l9 -6"></path>
                        <path d="M15 18h6"></path>
                        <path d="M18 15l3 3l-3 3"></path>
                    </svg>
                </a>
                <a class="hidden px-2 py-1 transition " href="src/data/Resume-Cesar-Alexander-Delgadillo-Sanchez.pdf" download="Resume-Cesar-Alexander-Delgadillo-Sanchez.pdf" >
                    <img src="/cv.svg" class="h-7 hover:scale-[1.15] transition" alt="Descargar CV" >
                </a>
            </div>
        </div>
    </div>
    </section>