---
import projectsData from '../data/projects.json';
const { projects } = projectsData;
---

<section id="projects" class="py-12 section md:pt-24 md:pb-24 scroll-m-20 w-5/6 mx-auto container lg:max-w-6xl md:max-w-2xl">
    <h2 class="text-3xl font-semibold mb-12">Projects</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {projects.map((project) => (
            <article class="hover:bg-neutral-950 hover:bg-opacity-65 bg-neutral-950 bg-opacity-25 rounded-md overflow-hidden hover:transform hover:scale-[1.02] transition-all shadow-lg shadow-neutral-950/70 hover:shadow-xl hover:shadow-secondary/70">
                <div class="p-6 flex flex-col h-full">
                    <h3 class="text-xl font-semibold mb-4">{project.title}</h3>
                    <div class="flex flex-wrap gap-2"> <!-- Replace space-x-2 with flex-wrap and gap -->
                    {project.technologies.map((tech) => (
                        <span class="px-3 py-1 bg-zinc-800 rounded-full text-sm">{tech}</span>
                    ))}
                    </div>
                    <p class="text-gray-400 mt-12 flex flex-grow">{project.description}</p>
                    <div class="py-4 hidden">
                        <a href={project.githubUrl} class="text-gray-400 hover:text-white transition-colors">
                            <img src="/github-mark-white.svg" class="h-6 opacity-40" alt="GitHub logo" loading="lazy"
                                    decoding="async"/>
                        </a>
                    </div>
                </div>
            </article>
        ))}
    </div>
</section>